#ignore all binary files
*.dat

#ignore all binary files
*.bin

#ignore all text files
*.txt

#ignore all executable files
*.h.gch

# ignore unit testing files.
main_file_manager.c

#ignore all executables.
*.out
